# Ignore Quarto markdown files
plot1.qmd
plot2.qmd
data_cleaning.qmd
data_cleaning_2.qmd
merging_data.qmd
Final Project QMD.qmd

# Ignore Python files
final.py
final2.py

# Ignore PNG and other image files
plot1.png
plot2.png

# Ignore PDF files
Python Write-up.pdf
final_project_write_up.pdf
Solar Infrastructure and Energy Insecurity in the US.pdf

# Ignore HTML files
Final Project QMD.html

# Logs
*.log
*.tlog
*.pid

# Compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
env/
venv/
ENV/
VENV/

# VSCode settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python bytecode cache
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Python test reports
htmlcov/
.coverage
.tox/

# PyCharm project files
.idea/

# Cache files
*.swp
*.swo
*.tmp
.cache/
*.bak

# Ignore large data files
*.data
*.sqlite3
*.db

# Ignore hidden files, but not .gitignore
.*
!.gitignore

# Do not ignore README.md
!README.md
